body{
    margin:0px;
    padding: 0px;
    background-color: blanchedalmond;
    color: rgb(204, 47, 47);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    margin:0px;
    padding:5px;
    background-color: bisque;
    color: rgb(229, 160, 160);
    display:flex;
}
.navebar img{
    height:50px;
    width:50px;
}

.historia{
    background-color: brown;
    color: rgb(248, 186, 186);
}