body{
    background-color: antiquewhite;
    color: rgb(97, 91, 91);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    background-color: brown;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}
.navbar img{
    width: 150px;
    height: 100px;
}
.historias{
    background-color: rgb(208, 83, 83);
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}

.historia{
    margin: 50px;
    border-color: rgb(135, 132, 132);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: first baseline;
    
}